/* You can add global styles to this file, and also import other style files */

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}
